@font-face {
    font-family: Titulos;
    font-style: normal;
    font-weight: normal;
    src: url(./fuentes/Titulos.TTF);
}
@font-face {
    font-family: Estandar;
    font-style: normal;
    font-weight: normal;
    src: url(./fuentes/Estandar.otf);
}
#icono {
    padding: 1%;
    text-align: left;
}
#redes {
    text-align: right;
}
#boton {
    background-color: black;
    border-radius: 20px;
    border: 10px solid black;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: background 2s, color 2s, border 2s;
}
#boton:hover {
    background-color: white;
    border-radius: 20px;
    border: 10px solid white;
    color: black;
}
.primerTexto {
    padding-top: 4%;
}
.relleno {
    padding: 2%;
}
#creadores {
    background-color: beige;
    border-radius: 10px;
    box-shadow: -10px 0 5px -11px black, 10px 0 5px -11px black;
    color: black;
    margin-bottom: -65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0.5%;
    position: relative;
    text-align: center;
    width: 250px;
}
#creadores-contenido {
    background-color: beige;
    text-align: center;
}
#trabajaConNostros-contenido select {
    width: 250px;
}
#conceptosBasicos-contenido,
#compara-contenido-AmdVsNvidia,
#contacto-contenido,
#trabajaConNostros-contenido {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 50%;
}
#conceptosBasicos-contenido h3,
#compara-contenido-AmdVsNvidia h3,
#contacto-contenido h3,
#trabajaConNostros-contenido h3 {
    color: #EF5365;
    margin-top: 5px;
}
#conceptosBasicos-contenido .subCategoria {
    margin-left: 20px;
}
#conceptosBasicos-contenido h2,
#compara-contenido-AmdVsNvidia h2,
#contacto-contenido h2,
#trabajaConNostros-contenido h2 {
    color: #EF5365;
    font-weight: bold;
    margin-top: 20px;
}
.centrado {
    text-align: center;
}
#comparacionesBody {
    background-color: white;
    color: black;
}
#compara-contenido-AmdVsNvidia img {
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-left: 40px;
    width: 90%;
}
#compara-AmdVsNvidia {
    background-color: white;
    border-radius: 10px;
    box-shadow: -10px 0 5px -11px black, 10px 0 5px -11px black;
    color: black;
    margin-bottom: -65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    padding: 0.5%;
    position: relative;
    text-align: center;
    width: 400px;
}
#trabajaConNostros {
    background-color: white;
    border-radius: 10px;
    box-shadow: -10px 0 5px -11px black, 10px 0 5px -11px black;
    color: black;
    margin-bottom: -65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    padding: 0.5%;
    position: relative;
    text-align: center;
    width: 550px;
}
#detalles,
#conceptosBasicos,
#contacto {
    background-color: white;
    border-radius: 10px;
    box-shadow: -10px 0 5px -11px black, 10px 0 5px -11px black;
    color: black;
    margin-bottom: -65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    padding: 0.5%;
    position: relative;
    text-align: center;
    width: 250px;
}
#footer {
    background-color: rebeccapurple;
    border-radius: 10px;
    box-shadow: -10px 0 5px -11px black, 10px 0 5px -11px black;
    color: white;
    margin-bottom: -70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    padding: 0.5%;
    position: relative;
    text-align: center;
    width: 300px;
}
#informacion {
    background-color: darkblue;
    border-radius: 10px;
    box-shadow: -10px 0 5px -11px black, 10px 0 5px -11px black;
    color: white;
    margin-bottom: -65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    padding: 0.5%;
    position: relative;
    text-align: center;
    width: 300px;
}
#detalles-contenido td .sinMargen {
    margin-right: 0px;
    margin: 0;
}
#detalles-contenido {
    background-color: white;
    text-align: center;
}
#detalles-contenido table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#creadores-contenido th p {
    color: black;
    font-size: 18px;
    margin-top: 0px;
}
#creadores-contenido table {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    text-align: center;
    width: 70%;
}
#detalles-contenido th,
#creadores-contenido th,
footer th {
    color: #EF5365;
    font-size: 20px;
}
footer iframe {
    border: 0;
    box-shadow: 0 0 10px black;
    width: 400px;
    height: 300px;
}
footer table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    text-align: center;
    width: 50%;
}
footer p,
footer a {
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
form {
    font-size: 18px;
}
form b {
    color: red;
}
.botonEnviar {
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
}
#contacto-contenido ol,
#contacto-contenido p,
#trabajaConNostros-contenido ol,
#trabajaConNostros-contenido p {    
    color: black;
    font-size: 18px;
    list-style: none;
}
#detalles-contenido td p {
    color: gray;
    font-size: 15px;
    margin-right: 200px;
}
#creadores-contenido .imagenes-creadores img {
    box-shadow: 0 0 10px black;
    transition: transform 1s;
    width: 300px;
}
#creadores-contenido .imagenes-creadores img:hover {
    transform: scale(1.7);
}
#detalles-contenido .imagenes-detalles img,
footer img {
    box-shadow: 0 0 0;
    margin-top: 0;
    width: 50px;
}
#detalles-contenido img {
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    height: auto;
    margin-top: 100px;
    width: 55%;
}
#detalles-contenido h3 {
    font-size: 30px;
    margin-bottom: 0;
}
#detalles-contenido p {
    color: grey;
    font-size: 20px;
    margin-top: 0;
}
#informacion-contenido {
    background-color: darkblue;
    text-align: center;
}
.alturaPequeño {
    height: 10%;
}
#informacion-contenido table {
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px black;
    color: white;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
#informacion-contenido p {
    color: white;
    font-size: 21px;
}
#contacto-contenido ol li a,
#trabajaConNostros-contenido ol li a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
#contacto-contenido ol li a:hover,
#trabajaConNostros-contenido ol li a:hover {
    background-size: 100% 2px;
}

#informacion-contenido p a {
    background-color: black;
    border-radius: 6px;
    border: 2px solid black;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
#footer-final {
    margin-top: 15px;
}
footer a {
    border-radius: 6px;
    color: white;
    margin-top: 0;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
footer a:hover {
    background-color: gray;
    background-size: 100% 2px;
    border: 2px solid gray;
}
#informacion-contenido p a:hover {
    background-size: 100% 2px;
}
footer div h1 {
    margin: 0px;
}
footer {
    background-color: rebeccapurple;
    padding: 0px;
}
* {
    font-family: Estandar;
}
header nav a {
    color: white;
    text-decoration: none
}
header nav {
    align-items: center;
    display: flex;
    flex-direction: column;
}
header nav ul {
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
h1 {
    font-family: Titulos;
}
header nav ul li {
    padding: 0;
    float: left;
    font-size: 18px;
}
header nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
header nav ul li:hover,
header nav ul li a:hover {
    background: white;
    color: black;
}
header img {
    height: 50px;
    margin: 0.5%;
    width: 50px;
}
header h1 {
    color: white;
    font-family: Titulos;
    font-size: 300%;
    margin-top: 0px;
    text-shadow: 20px 0px 7px black;
}
header {
    background-image: url(./img/header-wallpaper.jpg);
    background-size: 100%;
    height: 600px;
}
body {
    margin: 0px;
    padding: 0px;
}
header table {
    height: 100%;
    width: 100%;
}
header td {
    text-align: center;
    width: 33%;
}